@charset "UTF-8";
#header{
	background-color:rgb(91,109,124);
	height: 70px;
}
.card{
	margin-top:10%;
	margin-left:34%;
	width:30%;
	padding: 15px 15px;
	border-radius:10px;	
}

input[type="email"], input[type="password"]{
	margin-bottom:3%;
	width:55%;
}

button[type="submit"]{
	margin-left:40%;
}

.btn-md{
	margin-top: -5%;
	margin-left: 85%;
	z-index:6;
}